button.modais{
  margin-top: 7px;
  margin-right: 5px;
}
div#foot{
  height: 1000px;
}

img.img{
  height: 10em;
  width: 15em;
}
img.logo{
  margin-top: -15px;
  height: 4em;
  width: 10em;
}
nav{
  height: 5em;
}
ul{
  font-size: 15pt;
}
#corpo{
  margin-top: 5em;
}
.listas_result{
list-style-type:none;
background-color:rgba(90, 123, 123, 0.6);
margin-left: 4%;
margin-right: auto;
color:white;
position:left;

}
