

img.img{
  height: 10em;
  width: 15em;
}
img.logo{
  margin-top: -15px;
  height: 4em;
  width: 10em;
}


.carousel{
  margin-top: 3.5em;
}
footer {
      background-color: #000000;
      padding: 25px;
      color: white;
    }
input.pesq{
  width: 40em;
}    
.pesq{
  margin-top: 7px;
  margin-left: 7px;
}
