#locais{
  background-color: white;
  color: black;
  margin-left:5em;  
 border-radius:4px;
 }
img.img{
  height: 10em;
  width: 15em;
}
img.logo{
  margin-top: -15px;
  height: 4em;
  width: 10em;
}
.carousel{
  margin-top: 3.5em;
}
/*footer {
 background-image: url('images/confete.gif');   
    }*/
input.pesq{
    width: 40em;
  margin-left: 5em;
}    
.pesq{
  margin-top: 7px;
  margin-left: 7px;
}
 
 footer{
background-color: #000000;
      padding: 25px;

 } 

 .links_footer{
  margin-top: 2em;
  list-style-type: none;
  float:left;
   display: inline;
    overflow:hidden; 

 }
 .footer-copyright {
  position:auto;
margin-right: 1em;
color:white;
margin-top: -2em;

 }

 .pesquisar_footer{
  
  color: white; 
  float: right;
 }
 .link_comuns{
  margin-top:2em;
  margin-left: 35em;
  list-style-type: none;
  font-size:18px;
 }
 .link3{
  width:60px;
  height:40px;
 }
.seila {
width:13em;
margin-top:2em;

}

